/home/umair.nawaz/Research_Work/Submission/AgriClip/Weights/CLIP.pt
/home/umair.nawaz/Research_Work/Submission/AgriClip/Weights/Feature_Representations/CLIP_Features/*
/home/umair.nawaz/Research_Work/Submission/AgriClip/Weights/Feature_Representations/DINO_Features/*